* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(rgba(126, 90, 255, 0.7)), to(rgba(85, 183, 255, 0.7))), url("../img/backgr.jpg") no-repeat;
  background: linear-gradient(to right, rgba(126, 90, 255, 0.7), rgba(85, 183, 255, 0.7)), url("../img/backgr.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 calc(50vw - 585px);
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__img {
  margin-bottom: 50px;
  text-align: center;
}

.header__img img {
  cursor: pointer;
}

.header__img img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nav {
  padding: 30px 0;
}

.nav__logo {
  width: 20%;
}

.nav__logo img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  min-width: 135px;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15%;
}

.menu__item {
  margin-left: 90px;
  padding: 15px 0;
  position: relative;
  cursor: pointer;
}

.menu__item::before {
  display: inline-block;
  content: '';
  position: absolute;
  top: 19px;
  left: -20px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #FFFFFF;
}

.menu__link {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 1.3;
  font-weight: 400;
  color: #FFFFFF;
}

.menu__item:hover::before {
  background: #FFFFFF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.social__item {
  padding: 15px 0;
}

.social__item svg {
  width: 25px;
  height: 25px;
  fill: #FFFFFF;
  margin-left: 20px;
}

.social__item svg:hover {
  fill: #55b7ff;
  background: #FFFFFF;
  border-radius: 50%;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}

.slider .slick-list {
  overflow: hidden;
  position: relative;
}

.slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.slider__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__title {
  font-family: "Montserrat";
  font-size: 80px;
  line-height: 1.2;
  font-weight: 700;
  color: #FFFFFF;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}

.slider__subtitle {
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #FFFFFF;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.dot-btns {
  font-size: 0;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #FFFFFF;
  width: 10px;
  height: 10px;
  margin: 10px 0;
}

.dot-btns:focus {
  background: #FFFFFF;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.title-2 {
  font-family: "Montserrat";
  font-size: 44px;
  font-weight: 700;
  line-height: 1.2;
  color: #2C4058;
  margin-bottom: 20px;
  position: relative;
}

.title-2::after {
  content: '';
  position: absolute;
  display: inline-block;
  top: -20px;
  left: 50%;
  width: 35%;
  height: 1px;
  background: #2C4058;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  padding: 0 calc(50vw - 585px);
}

.section__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 150px;
}

.section__title {
  margin: 100px 0;
}

.section_news {
  background: -webkit-gradient(linear, left top, right top, from(rgba(126, 90, 255, 0.7)), to(rgba(85, 183, 255, 0.7))), url("../img/backgr-news.jpg") no-repeat;
  background: linear-gradient(to right, rgba(126, 90, 255, 0.7), rgba(85, 183, 255, 0.7)), url("../img/backgr-news.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
}

.block__scene-left {
  width: 55%;
}

.block__scene-left .parallax {
  width: 100%;
}

.block__scene-left .parallax img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  z-index: 3;
}

.block__scene-left .parallax::after {
  content: '';
  position: absolute;
  z-index: 0;
  display: inline-block;
  background: #55B7FF;
  top: -10%;
  left: -10%;
  width: 100%;
  height: 100%;
}

.block__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
}

.block-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.block-reverse .block__scene-right {
  width: 55%;
}

.block-reverse .block__scene-right .parallax {
  width: 100%;
}

.block-reverse .block__scene-right .parallax img {
  z-index: 3;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: auto;
}

.block-reverse .block__scene-right .parallax::after {
  content: '';
  position: absolute;
  z-index: 0;
  display: inline-block;
  background: #7E5AFF;
  top: -10%;
  left: 10%;
  width: 100%;
  height: 100%;
}

.block__subtitle {
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 1.3;
  font-weight: 400;
  color: #2C4058;
}

.block__title {
  font-family: "Montserrat";
  font-size: 44px;
  font-weight: 700;
  line-height: 1.2;
  color: #2C4058;
  margin-bottom: 15px;
}

.block__text {
  font-family: "Open Sans";
  font-size: 22px;
  line-height: 1.6;
  font-weight: 400;
  color: #2C4058;
  margin-bottom: 40px;
}

.block__btn {
  margin-bottom: 60px;
}

.block span {
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 1.4;
  font-weight: 400;
  color: #000000;
  font-style: italic;
}

.block span i {
  margin-right: 10px;
  color: #2C4058;
}

.hidden {
  display: none;
}

.slider-news .slick-list {
  overflow: hidden;
  position: relative;
}

.slider-news .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-news .slick-slide {
  margin-right: 30px;
}

.slider-news .slick-slide:first-child {
  margin-left: 30px;
}

.slider-news .slick-arrow {
  position: absolute;
  top: 50%;
  font-size: 0;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background: url("../img/arr-next.png") 0 0/100% no-repeat;
}

.slider-news .slick-arrow.slick-prev {
  left: -8%;
  -webkit-transform: translate(0, -150%) rotate(180deg);
          transform: translate(0, -150%) rotate(180deg);
}

.slider-news .slick-arrow.slick-prev:hover {
  -webkit-transform: translate(0, -150%) rotate(180deg) scale(1.1);
          transform: translate(0, -150%) rotate(180deg) scale(1.1);
}

.slider-news .slick-arrow.slick-next {
  right: -8%;
  -webkit-transform: translate(0, -150%);
          transform: translate(0, -150%);
}

.slider-news .slick-arrow.slick-next:hover {
  -webkit-transform: translate(0, -150%) scale(1.1);
          transform: translate(0, -150%) scale(1.1);
}

.slider-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 95%;
  min-width: 310px;
  position: relative;
}

.slider-news__block {
  cursor: pointer;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider-news__pic {
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
}

.slider-news__pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-news__title {
  font-family: "Montserrat";
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  color: #2C4058;
  margin-bottom: 15px;
  text-transform: uppercase;
  padding: 0 20px;
  height: 80px;
}

.slider-news__text {
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 1.36;
  font-weight: 400;
  color: #2C4058;
  margin-bottom: 40px;
  padding: 0 20px;
  height: 50px;
}

.slider-news__name {
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #2C4058;
  margin-bottom: 5px;
  position: relative;
  padding: 0 20px 0 80px;
}

.slider-news__name::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: url("../img/photo-1.jpg");
  margin-left: 20px;
}

.slider-news__name-freeman::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: url("../img/photo-2.jpg");
  margin-left: 20px;
}

.slider-news__name-ward::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: url("../img/photo-3.jpg");
  margin-left: 20px;
}

.slider-news__date {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #55B7FF;
  margin-bottom: 30px;
  padding: 0 20px 0 80px;
}

.slider-news .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.slider-news .dot-btns {
  margin: 0 25px 120px 0;
}

.slider-news .dot-btns:last-child {
  margin-left: 25px;
}

.section_gallery .btn {
  margin-bottom: 100px;
}

.section__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}

.images__big {
  margin-right: 10px;
  width: 50%;
}

.images__big img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: auto;
}

.images__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.group__item {
  width: 49%;
}

.group__item img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: auto;
}

.btn {
  border: 1px solid #2C4058;
  outline: none;
  background: transparent;
  padding: 15px 10px;
  width: 190px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn:hover {
  background: #2C4058;
  color: #fff;
}

#map {
  height: 600px;
  width: 100%;
}

.footer {
  padding: 0 calc(50vw - 585px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(126, 90, 255, 0.6)), to(rgba(85, 183, 255, 0.6))), url("../img/footer-bg.jpg") no-repeat;
  background: linear-gradient(to right, rgba(126, 90, 255, 0.6), rgba(85, 183, 255, 0.6)), url("../img/footer-bg.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.footer__bottom img {
  margin-bottom: 20px;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__logo span {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  margin-bottom: 100px;
}

.footer__nav {
  padding: 0;
}

.footer__contacts {
  background: url("../img/form-bg.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 30px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__title {
  margin-top: 20px;
}

.contacts__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 30px;
}

.contacts__info span {
  font-family: "Montserrat";
  font-size: 15px;
  line-height: 1.4;
  font-weight: 400;
  color: #000000;
}

.contacts__info span i {
  margin-right: 10px;
  color: #7E5AFF;
}

.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contacts__form__btn {
  background: #FFFFFF;
}

.form__input {
  outline: none;
  border: none;
  border-bottom: 1px solid #2C4058;
  margin-bottom: 25px;
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
}

.form__input::-webkit-input-placeholder, .form__input::-moz-placeholder, .form__input:-moz-placeholder, .form__input:-ms-input-placeholder {
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: #4B5562;
  opacity: 0.5;
}

.form__input:focus::-webkit-input-placeholder, .form__input:focus::-moz-placeholder, .form__input:focus:-moz-placeholder, .form__input:focus:-ms-input-placeholder {
  color: transparent;
}

.burger {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.burger__btn {
  position: fixed;
  display: none;
  border: none;
  outline: none;
  top: 7%;
  left: 90%;
  width: 30px;
  height: 2px;
  z-index: 15;
  background: #fff;
  cursor: pointer;
}

.burger__btn::after, .burger__btn::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 2px;
  background: #fff;
  top: 10px;
  right: 0;
}

.burger__btn::before {
  top: -10px;
}

.toggle-burger {
  top: 0;
}

@media screen and (max-width: 1190px) {
  .header,
  .section {
    padding: 0 15px;
  }
}

@media screen and (max-width: 1104px) {
  .block__scene-left {
    margin-right: 15px;
  }
  .block__scene-right {
    margin-left: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .slider__title {
    font-size: 60px;
  }
  .title-2 {
    font-size: 36px;
    margin-bottom: 50px;
  }
  .block__text {
    font-size: 20px;
  }
  .block__subtitle {
    font-size: 16px;
  }
  .block__title {
    font-size: 36px;
  }
  .slider-news {
    max-width: 70%;
  }
  .slider-news__title {
    font-size: 18px;
    margin: 0;
    width: 320px;
  }
  .slider-news__text {
    font-size: 16px;
    width: 320px;
  }
  .slider-news__pic {
    height: 230px;
  }
  .slider-news__name {
    font-size: 14px;
  }
  .menu__item {
    margin-left: 60px;
  }
  .menu__link {
    font-size: 12px;
  }
}

@media screen and (max-width: 975px) {
  .slider-news {
    max-width: 80%;
  }
}

@media screen and (max-width: 900px) {
  .block__text {
    font-size: 18px;
  }
  .block__subtitle {
    font-size: 14px;
  }
  .block__title {
    font-size: 28px;
  }
  .title-2 {
    font-size: 28px;
  }
  .slider-news {
    max-width: 50%;
  }
  .slider-news__title {
    width: 100%;
  }
  .slider-news__text {
    width: 100%;
  }
  .slider-news__pic {
    margin-bottom: 20px;
  }
  #map {
    height: 400px;
  }
}

@media screen and (max-width: 830px) {
  .slider .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    top: 120%;
    right: 50%;
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }
  .slider .dot-btns {
    margin: 0 15px;
  }
  .slider__subtitle {
    font-size: 14px;
  }
  .slider__title {
    font-size: 52px;
  }
  .section__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section__images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .block__group {
    width: 60%;
  }
  .block__scene-left, .block__scene-right {
    margin-bottom: 40px;
  }
  .block-reverse {
    margin-bottom: 50px;
  }
  .images__big {
    margin: 0;
  }
  .burger__btn {
    display: block;
  }
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    width: 100%;
    height: 500px;
    top: 0;
    right: 0;
    z-index: 10;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background: #2c4058;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 0;
  }
  .menu__item {
    width: 80px;
  }
  .header .social {
    margin-top: auto;
    width: 100%;
  }
}

@media screen and (max-width: 668px) {
  .slider__title {
    font-size: 42px;
  }
  .slider__subtitle {
    font-size: 12px;
  }
  .title-2 {
    margin: 40px 0 30px;
  }
}

@media screen and (max-width: 580px) {
  .slider-news .dot-btns {
    margin: 0 15px 80px 0;
  }
  .contacts {
    -webkit-transform: translate(0);
            transform: translate(0);
    margin: 30px 0;
  }
  .contacts__info {
    margin-bottom: 30px;
  }
  .contacts__info span {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .contacts__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form__input {
    font-size: 14px;
    width: 100%;
  }
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__bottom span {
    margin-bottom: 20px;
    text-align: center;
  }
  .footer__bottom .social {
    width: 100%;
  }
  .section__block {
    margin-bottom: 80px;
  }
  .slider .dot-btns {
    margin: 40px 10px 0;
  }
  .block__group {
    width: 80%;
  }
  .block__scene-left, .block__scene-right {
    margin: 0 0 40px;
  }
  .slider-news .slick-slide {
    margin: 0 20px;
  }
  .images__big,
  .images__group {
    width: 80%;
  }
}

@media screen and (max-width: 530px) {
  .slider__title {
    font-size: 32px;
    width: 90%;
    text-align: center;
  }
  .slider__subtitle {
    font-size: 12px;
    width: 70%;
    text-align: center;
  }
  .menu {
    height: 100vh;
  }
}
/*# sourceMappingURL=style.css.map */