@mixin text ($ff, $fs, $lh, $fw, $fc) {
    font-family: $ff;
    font-size: $fs;
    line-height: $lh;
    font-weight: $fw;
    color: $fc;
}
@mixin button {
    border: 1px solid $font-color-blue;
    outline: none;
    background: transparent;
    padding: 15px 10px;
    width: 190px;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
        background: $font-color-blue;
        color: #fff;
    }
}
@mixin title-2 {
    font-family: $font-big;
    font-size: 44px;
    font-weight: 700;
    line-height: 1.2;
    color: $font-color-blue;
}